{% extends 'based.html' %}
{% load static %}

{% block content %}
    <div class="banner">
        <h2 class="fw-bold">CREATE PROFILE FOR WALK IN</h2>
    </div>

    <div class="createProfileWalkIn">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'account' %}">
                <input type="button" value="Cancel" class="createProfileWalkInCancelBtn">
            </a>
            <input class="createProfileWalkInSubmitBtn" type="submit" value="Submit">
        </form>
    </div>
{% endblock %}