{% extends 'based.html' %}
{% load static %}

{% block content %}
<div class="banner">
    <h2 class="fw-bold">HISTORY</h2>
    {% if request.user.id == 1 %}
    <div>
        <a href="{% url 'search-account' %}">
            <input type="button" value="Resident List" style="background-color: #006500; color: white; border: 1px white solid;">
        </a>
        <a href="{% url 'create-news' %}">
            <input type="button" value="Create News">
        </a>
        <a href="{% url 'create-events' %}">
            <input type="button" value="Create Event">
        </a>
        <a href="{% url 'create-profile' %}">
            <input type="button" value="Create Profile">
        </a>
        {% if walkinprofile == 0 %}
        {% else %}
        <a href="{% url 'request-document-walkin' %}">
            <input type="button" value="Request Document for Walk In">
        </a>
        {% endif %}
    </div>
{% else %}
{% if profile.verified == False %}
{% else %}
    <div>
        <a href="{% url 'request-document' %}">
            <input type="button" value="Request Document">
        </a>
        <a href="{% url 'report-concern' %}">
            <input type="button" value="Report Concern">
        </a>
    </div>
{% endif %}
{% endif %}
</div>
{% if request.user.id == 1 %}
<div style="margin: 2rem auto 2rem auto;">
    <form action="{% url 'history' %}" method="get" style="display: flex; justify-content: center;width: 100%;">
        <input type="search" name="searchRequestReport" id=""placeholder="Search by History" style="margin-right: 1rem; border: 1px #006500 solid; padding: 10px; width: 40%; border-radius: 100px; text-indent: 10px;">
        
        <input type="submit" value="Search" style="border: none;margin-left: 1rem; background-color: #006500; color: white; padding: 10px 30px; border-radius: 100px;">
    </form>
</div>
<div class="inbox">
    <div class="req">
        <h2>
            TOTAL REQUESTS ({{ totalRequest }})
            <span style="float: right; font-size: 20px; background-color: #006500; border-radius: 100px; padding: 10px 20px;">
                <a href="{% url 'export-data-requests' %}" style="color: white; text-decoration:none;">Download Data</a>
            </span>
        </h2>
        
        
        {% for request in historyRequest %}
        {% if request.hide == True %}
        {% else %}
        <div class="message-link" style="display: flex; justify-content: space-between;">
            <a href="{% url 'single-request-message' request.id %}">
                    <p>
                        {{ request.sender.first_name }} | {{ request.document_type }} request | Month of {{ request.date_created|date:"F" }} 
                    </p>
            </a>
            <a href="{% url 'delete-request' request.id %}"><i class="bi bi-trash-fill" style="color: red;"></i></a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="rep">
        <h2>
            TOTAL REPORTS ({{ totalReports }}) 
            <span style="float: right; font-size: 20px; background-color: #006500; border-radius: 100px; padding: 10px 20px;">
                <a href="{% url 'export-data-reports' %}" style="color: white; text-decoration:none;">Download Data</a>
            </span>
        </h2>
        {% for report in historyReports %}
        {% if report.hide == True %}
        {% else %}
        <div class="message-link" style="display: flex; justify-content: space-between;">
            <a href="{% url 'single-report-message' report.id %}">
                    <p>
                        {{ report.sender.first_name }}'s report | Month of {{ report.date_created|date:"F" }}
                    </p>
            </a>
            <a href="{% url 'delete-report' report.id %}">
                <i class="bi bi-trash-fill" style="color: red;"></i>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<div class="inbox2">
    <div class="walkinreq">
        <h2>
            TOTAL WALK IN REQUESTS ({{ totalWalkinRequest }})
            <span style="float: right; font-size: 20px; background-color: #006500; border-radius: 100px; padding: 10px 20px;">
                <a href="{% url 'export-data-requests-walkin' %}" style="color: white; text-decoration:none;">Download Data</a>
            </span>
        </h2>
        
        
        {% for walkinrequest in historyWalkinRequest %}
        {% if walkinrequest.hide == True %}
        {% else %}
        <div class="message-link" style="display: flex; justify-content: space-between;">
            <a href="{% url 'view-walkin-message' walkinrequest.id %}">
                    <p>
                        {{ walkinrequest.owner.first_name }} | {{ walkinrequest.document_type }} request | Month of {{ walkinrequest.date_created|date:"F" }} 
                    </p>
            </a>
            <a href="{% url 'delete-request-walkin' walkinrequest.id %}"><i class="bi bi-trash-fill" style="color: red;"></i></a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
    {% else %}
<div class="inbox">
    <div class="req">
        <h2>MY TOTAL REQUESTS ({{ singleTotalRequest }})</h2>
        {% for single_request in singleHistoryRequest %}
        <div class="message-link">
            <a href="{% url 'single-request-message' single_request.id %}">
                    <p>
                        My {{ single_request.document_type }} request | {{ single_request.date_created }}
                    </p>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="rep">
        <h2>MY TOTAL REPORTS ({{ singleTotalReports }})</h2>
        {% for single_report in singleHistoryReports %}
        <div class="message-link">
            <a href="{% url 'single-report-message' single_report.id %}">
                    <p>
                        My report | {{ single_report.date_created }}
                    </p>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}