{% extends 'based.html' %}
{% load static %}

{% block content %}
<div class="banner">
    <h2 class="fw-bold">HISTORY</h2>
    <a href="{% url 'search-account' %}">
        <input type="button" value="Search Account">
    </a>
</div>
{% if request.user.id == 1 %}
<div class="inbox">
    <div class="req">
        <h2>
            TOTAL REQUESTS ({{ totalRequest }})
            <span style="float: right; font-size: 20px; background-color: #006500; border-radius: 100px; padding: 10px 20px;">
                <a href="{% url 'export-data-requests' %}" style="color: white; text-decoration:none;">Download Data</a>
            </span>
        </h2>
        
        
        {% for request in historyRequest %}
        {% if request.hide == True %}
        {% else %}
        <div class="message-link" style="display: flex; justify-content: space-between;">
            <a href="{% url 'single-request-message' request.id %}">
                    <p>
                        {{ request.sender.first_name }} | {{ request.document_type }} request | Month of {{ request.date_created|date:"F" }} 
                    </p>
            </a>
            <a href="{% url 'delete-request' request.id %}"><i class="bi bi-trash-fill" style="color: red;"></i></a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="rep">
        <h2>
            TOTAL REPORTS ({{ totalReports }}) 
            <span style="float: right; font-size: 20px; background-color: #006500; border-radius: 100px; padding: 10px 20px;">
                <a href="{% url 'export-data-reports' %}" style="color: white; text-decoration:none;">Download Data</a>
            </span>
        </h2>
        {% for report in historyReports %}
        {% if report.hide == True %}
        {% else %}
        <div class="message-link" style="display: flex; justify-content: space-between;">
            <a href="{% url 'single-report-message' report.id %}">
                    <p>
                        {{ report.sender.first_name }}'s report | Month of {{ report.date_created|date:"F" }}
                    </p>
            </a>
            <a href="{% url 'delete-report' report.id %}">
                <i class="bi bi-trash-fill" style="color: red;"></i>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
    {% else %}
<div class="inbox">
    <div class="req">
        <h2>MY TOTAL REQUESTS ({{ singleTotalRequest }})</h2>
        {% for single_request in singleHistoryRequest %}
        <div class="message-link">
            <a href="{% url 'single-request-message' single_request.id %}">
                    <p>
                        My {{ single_request.document_type }} request | {{ single_request.date_created }}
                    </p>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="rep">
        <h2>MY TOTAL REPORTS ({{ singleTotalReports }})</h2>
        {% for single_report in singleHistoryReports %}
        <div class="message-link">
            <a href="{% url 'single-report-message' single_report.id %}">
                    <p>
                        My report | {{ single_report.date_created }}
                    </p>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}