{% extends 'based.html' %}
{% load static %}


{% block content %}
<div class="banner">
    <h2 class="fw-bold">INBOX</h2>
    <a href="{% url 'search-account' %}">
        <input type="button" value="Search Account">
    </a>
</div>
{% if request.user.id == 1 %}
<div class="inbox">
    <div class="req">
        <h2>REQUESTS ({{ unreadCountDocument }})</h2>
        {% for request in requestDocument %}
        <div class="message-link">
            <a href="{% url 'request-message' request.id %}">
                {% if request.is_read == False %}
                    <p style="font-weight: bold;">
                {% else %}
                    <p>
                {% endif %}
                        {{ request.sender.first_name }} | {{ request.document_type }} request | {{ request.date_created }}
                    </p>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="rep">
        <h2>REPORTS ({{ unreadCountReport }})</h2>
        {% for report in reportConcern %}
        <div class="message-link">
            <a href="{% url 'report-message' report.id %}">
                {% if report.is_read == False %}
                    <p style="font-weight: bold;">
                {% else %}
                    <p>
                {% endif %}
                        {{ report.sender.first_name }}'s report | {{ report.date_created }}
                    </p>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="ver">
        <h2>VERIFICATIONS ({{ unreadVerification }})</h2>
        {% for verify in verifyMessage %}
        <div class="message-link">
            <a href="{% url 'verify-message' verify.id %}">
                {% if verify.is_read == False %}
                    <p style="font-weight: bold;">
                {% else %}
                    <p>
                {% endif %}
                        {{ verify.sender.first_name }}'s verification account | {{ verify.date_created }}
                    </p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
    {% else %}
<div class="inbox">
<div class="req">

    <h2>MESSAGES({{ unreadMessage }})</h2>
     {% for message in sendMessage %}
        <div class="message-link">
            <a href="{% url 'view-message' message.id %}">
                {% if message.is_read == False %}
                    <p style="font-weight: bold;">
                {% else %}
                    <p>
                {% endif %}
                        {{ message.sender.first_name }} {{ message.sender.last_name }}'s message | {{ message.date_created }}
                    </p>
            </a>
        </div>
    {% endfor %}
</div>
</div>
{% endif %}
{% endblock %}