{% extends 'based.html' %}
{% load static %}

{% block content %}
{% if page == login %}
<div class="login">
    <div class="login-content">
        <h2 class="fw-bold">WELCOME TO BARANGAY PORTAL</h2>
        <img src="{% static 'img/fingerprint.png' %}" alt="">
    </div>
    <div class="login-details">
        <form action="" method="POST">
            {% csrf_token %}
            <input class="username-password" type="text" name="username" placeholder="Enter Username" required>
            <input class="username-password" type="password" name="password" placeholder="Enter Password" required>
            <input class="loginResidentBtn" type="submit" value="Login">
            
            <p class="text-center">Don't have an Account?</p>
            <a href="{% url 'register' %}">
                <input class="createResidentAccountBtn" type="button" value="Register">
            </a>
        </form>
    </div>
</div>
{% elif page == loginadmin %}
    <h1>ADMIN</h1>
{% else %}
    <div class="register">
        <div class="register-content">
            <h2 class="fw-bold">CREATE AN ACCOUNT TO ACCESS THE PORTAL</h2>
            <img src="{% static 'img/fingerprint.png' %}" alt="">
        </div>
        <div class="register-details">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {{ field }}
                {% endfor %}

                <input type="text" placeholder="Phone Number ex.09123456789" name="phone_number" id="" maxlength="11" class="registerInput" required>
                <input type="text" placeholder="Enter Status ex.Single" name="status" id="" class="registerInput" required>
                <input type="text" placeholder="Enter Address" name="address" id="" class="registerInput" required>
                
                
                <div class="register-gender-vaccine">
                    <div>
                        <p style="font-weight: bold; margin:0 0 0 2rem;">Gender:</p>
                        <input type="radio" name="gender" id="" value="Male" style="margin-left: 2rem;" required>
                        <label for="Male">Male</label><br>
                        <input type="radio" name="gender" id="" value="Female" style="margin-left: 2rem;" required>
                        <label for="Female">Female</label><br>
                    </div>
                    <div>
                        <p style="font-weight: bold; margin:0 0 0 2rem;">Vaccine:</p>
                        <input type="radio" name="vaccine" id="" value="Vaccinated" style="margin-left: 2rem;" required>
                        <label for="Vaccinated">Vaccinated</label><br>
                        <input type="radio" name="vaccine" id="" value="Not Vaccinated" style="margin-left: 2rem;" required>
                        <label for="Not Vacinnated">Not Vaccinated</label><br>
                    </div>
                </div>
                
                <div class="register-village">
                    <label for="village">Choose Village:</label>
                        <select name="village" class="registerInput" style="margin-top: 5px;">
                            <option value="Crisville">Crisville</option>
                            <option value="Gulod">Gulod</option>
                            <option value="Matandang Barrio">Matandang Barrio</option>
                            <option value="Mataas na Kahoy">Mataas na Kahoy</option>
                            <option value="Katuparan">Katuparan</option>
                            <option value="Kaypiskal">Kaypiskal</option>
                            <option value="Sulucan">Sulucan</option>
                            <option value="NHV">NHV</option>
                        </select>
                </div>

                <div class="register-profile">
                    <label for="profile_image" style="font-weight: bold; margin:1rem 0 0 2rem;">Upload Profile Picture:</label>
                    <input type="file" name="profile_image" id="" class="registerInput" style="margin-top: 5px;" required>
                </div>

                <input class="registerResidentBtn" type="submit" value="Register">
                
                <p class="text-center" style="margin-left: auto; margin-right:auto;">Already have an Account?</p>
                <a href="{% url 'login' %}">
                    <input class="loginResidentAccountBtn" type="button" value="Login">
                </a>
            </form>
        </div>
    </div>
{% endif %}
{% endblock %}