{% extends 'based.html' %}
{% load static %}

{% block content %}
<div class="banner">
    <h2 class="fw-bold">RESIDENT: {{ profile.first_name }}</h2>
</div>

<div class="profile-details">
        <img src="{{ profile.profile_image.url }}" alt="">
        <h4 class="fw-bold"> {{ profile.first_name }} {{ profile.last_name }} <i>@{{profile.username}}</i>
            {% if profile.verified == False %}
            {% else %}
                <i class="bi bi-patch-check-fill" style="color: rgb(64, 147, 255); padding-left:0.5rem; vertical-align:middle;"></i>
            {% endif %}
        </h4>
        <div class="profile-sub-details">
            <p>{{ profile.email }}</p>
            {% if request.user.id == 1 %}
            <p>Brgy. Tigbe</p>
            {% else %}
            <p>Blk/Unit {{ profile.blk_unit }} Phase{{ profile.phase_street }}, Brgy. Tigbe</p>
            {% endif %}
            <p>{{ profile.status }}</p>
            <p>{{ profile.gender }}</p>
            <p>{{ profile.vaccine }}</p>
            <p>From {{ profile.village }}</p>
        </div>
        {% if request.user.id == 1 %}
        <div class="send-message-btn">
            <a href="{% url 'verified' profile.id %}"><p>Verify Account</p></a>
            <a href="{% url 'single-history' profile.id %}" class="bg-primary"><p>View Request & Report History</p></a>
        </div>
        {% else %}
        {% endif %}
    </div>
</div>
{% endblock %}