{% extends 'based.html' %}
{% load static %}

{% block content %}
<div class="banner">
    <h2 class="fw-bold">RESIDENT: {{ profile.first_name }}</h2>
</div>

<div class="profile-details">
        <img src="{{ profile.profile_image.url }}" alt="">
        <h4 class="fw-bold"> {{ profile.first_name }} {{ profile.last_name }} <i>@{{profile.username}}</i></h4>
        <div class="profile-sub-details">
            <p>{{ profile.email }}</p>
            <p>{{ profile.address }}</p>
            <p>{{ profile.status }}</p>
            <p>{{ profile.gender }}</p>
        </div>
    </div>
</div>
{% endblock %}