{% extends 'based.html' %}
{% load static %}

{% block content %}
{% if page == 'reqdoc' %}
<div class="banner">
    <h2 class="fw-bold">REQUEST DOCUMENT</h2>
</div>

<div class="request-document">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
    
        <a href="{% url 'account' %}">
            <input type="button" value="Cancel" class="requestDocumentCancelBtn">
        </a>

        <input type="submit" value="Request" class="requestDocumentSubmitBtn">
    </form>
</div>
{% else %}
<div class="banner">
    <h2 class="fw-bold">REQUEST DOCUMENT FOR WALK IN</h2>
</div>

<div class="request-document">
    <form action="" method="POST">
        {% csrf_token %}

        {{ form.as_p }}
    
        <a href="{% url 'account' %}">
            <input type="button" value="Cancel" class="requestDocumentCancelBtn">
        </a>

        <input type="submit" value="Request" class="requestDocumentSubmitBtn">
    </form>
</div>
{% endif %}
{% endblock %}