{% extends 'based.html' %}
{% load static %}


{% block content %}
    <div class="banner">
        <h2 class="fw-bold">SEARCH ACCOUNTS</h2>
        <div class="searchAccount">
            <form action="{% url 'search-account' %}" method="get">
                <input type="search" name="searchAccount" id="" class="searchInput" placeholder="Search Resident">
                <div>
                    <select name="searchAccount" id="">
                        <option value="">Search by Village</option>
                        <option value="Crisville">Crisville</option>
                        <option value="Gulod">Gulod</option>
                        <option value="Matandang Barrio">Matandang Barrio</option>
                        <option value="Mataas na Kahoy">Mataas na Kahoy</option>
                        <option value="Katuparan">Katuparan</option>
                        <option value="Kaypiskal">Kaypiskal</option>
                        <option value="Sulucan">Sulucan</option>
                        <option value="NHV">NHV</option>
                    </select>
                </div>
                <input type="submit" value="Search" class="searchBtn">
            </form>
        </div>
    </div>
    


    <div style="margin-top: 3rem;">
      <h4 style="text-align: center; color: #9e9e9e;">{{ search_account }} Total Verified Residents: {{ totalProfile }}</h4>
    </div>
<div class="contents">
    <div class="search-profiles">
        {% for profile in profiles %}
        <div class="card m-4" style="width: 18rem;">
            <div class="card-body ms-auto me-auto w-100">
                <img src="{{ profile.profile_image.url }}" alt="">
              <h5 class="card-title text-center">{{ profile.first_name }} {{ profile.last_name }}
                {% if profile.verified == False %}
                {% else %}
                <i class="bi bi-patch-check-fill" style="color: rgb(64, 147, 255); padding-left:0.5rem; vertical-align:middle;"></i>
                {% endif %}
              </h5>
              <p class="card-text text-center">@{{ profile.username }}</p>
              <a href="{% url 'user-profile' profile.id %}" class="btn" style="background-color: #006500; color: white;">View Profile</a>
            </div>
          </div>
        {% endfor %}

        {% for walkInProfile in walkInProfiles %}
        <div class="card m-4" style="width: 18rem;">
            <div class="card-body ms-auto me-auto w-100">
                <img src="{{ walkInProfile.profile_image.url }}" alt="">
              <h5 class="card-title text-center">{{ walkInProfile.first_name }}
              {% if walkInProfile.last_name == None %}
              {% else %}
              {{ walkInProfile.last_name }}
              {% endif %}
                {% if walkInProfile.verified == False %}
                {% else %}
                <i class="bi bi-patch-check-fill" style="color: rgb(64, 147, 255); padding-left:0.5rem; vertical-align:middle;"></i>
                {% endif %}
              </h5>
              <p class="card-text text-center">{{ walkInProfile.email }}</p>
              <a href="{% url 'user-profile-walkin' walkInProfile.id %}" class="btn" style="background-color: #006500; color: white;">View Profile</a>
            </div>
          </div>
        {% endfor %}
    </div>
</div>   
    
{% endblock %}