{% extends 'based.html' %}
{% load static %}

{% block content %}
<div class="banner">
    <h2 class="fw-bold">VERIFICATION</h2>
</div>

<div class="request-document">
    <form action="" method="POST">
        {% csrf_token %}
        {% for labels in form %}
            {{labels}}
        {% endfor %}
        <h3 class="mb-4 text-center">Do you want to verify {{ profile.first_name }} {{ profile.last_name }}</h3>
        <a href="{% url 'account' %}">
            <input type="button" value="Cancel" class="requestDocumentCancelBtn">
        </a>

        <input type="submit" value="Verify" class="requestDocumentSubmitBtn">
    </form>
</div>
{% endblock %}