{% extends 'based.html' %}

{% block content %}
<div class="createUpdateEventsNews">
    <h3 class="mb-4 text-center">Are you sure you want to delete {{ Obj }}?</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <a href="{% url 'account' %}">
                <input type="button" value="Cancel" class="createUpdateEventsNewsCancelBtn">
            </a>
            <input class="createUpdateEventsNewsSubmitBtn" type="submit" value="Confirm">
        </form>
</div>
{% endblock %}